@import "../styles/variables.scss";

.mainSection {
    width: 80%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4.1875rem;
    background: url(../assets/image-hero-portrait.png);
    background-position: 63%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;

    .textPart {
        width: 100%;
    
        h1 {
            width: 95%;
            @include headingXL;
            color: $darkBlue;
            margin-top: 0;
            padding-top: 6.25rem;
            margin-bottom: 2.5rem;
        }
    
        .regular {
            font-weight: normal;   
        }
    
        p {
            width: 21.875rem;
            @include body;
            color: $grey;
            margin-bottom: 3.125rem;
        }
    
        button {
            width: 16rem;
            height: 3.8125rem;
            border: none;
            border-radius: .375rem;
            @include buttonPrimary;
        }

        button:hover {
            @include buttonPrimaryHover;
        }
    
    }

    img {
        display: none;
    }
    
    aside {
        margin-top: 6.25rem;
        margin-right: 5rem;
        float: right;

        h2 {
            @include headingL;
            color: $darkBlue;
            margin: 0;
        }

        p {
            @include headingS;
            font-weight: lighter;
            color: $grey;
            margin-top: 0;
            margin-bottom: 3.75rem;
            text-transform: uppercase;
        }
    }

}

@media (max-width: 1180px) {
    .mainSection {
        flex-direction: column;
        background-position: right;
    
        aside {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10.25rem;
            margin-right: 0;

            h1 {
                width: 100%;
                font-size: 3.5rem;
                letter-spacing: -0.0488rem;
            }
            
            p {
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width: 860px) {
    .mainSection {
        width: 90%;
        background: none;
        align-items: center;

        .textPart {
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        
            h1 {
                font-size: 38px;
                line-height: 44px;
                letter-spacing: -0.53px;
                padding-top: 0;
            }
        }

        img {
            display: block;
            width: 23.125rem;
            height: 16.25rem;;
            margin-top: 1.25rem;
        }

        aside {
            width: 90%;
            flex-direction: column;
            margin-top: 3.375rem;

            p {
                padding-bottom: 1.25rem;
            }
        }
    }
}


@media (max-width: 550px) {
    .mainSection {
        align-items: flex-start;

        .textPart {
            display: block;
            text-align: left;
        }
    }
}